
.header{

   width: 1350px;
   height: 140px;
   background-color: rgb(12, 11, 11);
 

   color: white;
}

.salir{
    width: 120px;
    margin: -5%;
    float: right;
}
.container{
    text-decoration: none;
    width: 100%;
    float: left;
}

.container .nav-item {
  display: inline-block;
}

.container a{
width: 130px;
margin:12% 3% 0 3px ;
color: white;
font-size: 20px;
display: inline-block;
}

.container a:hover{
    color: yellow;
}

.container .botonini{
    width: 200px;
    color: white;
}