.home{
  background-image: url('../../assets/img/pexels-arshad-sutar-1749303.jpg');
  width: 1350px;
  height:600px;
  float: left;
}

h3{
    width: 30%;
    margin: 10% 38%;
    color: white;
    font-size: 60px;
}
